<div class="float-right p-4  col-md-12 p-0" style=" direction: rtl; ">
    <div class="d-flex mb-2">
        <span></span>
        <span class="fz-19 text-underline font-weight-bold"> دعم و تقييم</span>
    </div>
    <div class="d-flex mb-2 col-lg-3 col-md-6 col-12 px-0">
        <select name="" id="" class="form-control">
            <option value="" disabled>إختيار المادة</option>
            <option value=""> اللغة الفرنسية</option>
            <option value="">اللغة العربية </option>
            <option value=""> اللغة الإنجليزية</option>
            <option value=""> التاريخ </option>
            <option value=""> الجغرافيا </option>
            <option value=""> الإيقاظ العلمي </option>

        </select>

    </div>
    <div class=" p-0">
        <div class="border rounded w-100 flex-column p-3  ">
            <div class="text-center py-3">
                <span class="fz-25 font-weight-bold"> لعبة ما هذا البلد العربي ؟</span>
            </div>
            <div class="text-center">
                <video src="../../../assets/images/test.mp4" class="col-md-6 mx-auto col-12 px-0" width="640"
                    height="360" controls>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
    <div class="my-2 float-right">
        <a class="btn font-weight-bold bg-green fz-19 text-white" routerLink="/home/test-evaluation" >مرور إلى التقييم</a>
    </div>
</div>
<div class=" px-3">
    <div class="rotating-text-wrapper">
        <h2>لعبة ما هذا البلد العربي ؟</h2>
        <h2>لعبة ما هذا البلد العربي ؟</h2>
        <h2>لعبة ما هذا البلد العربي ؟</h2>
        <h2>لعبة ما هذا البلد العربي ؟</h2>
        <h2>لعبة ما هذا البلد العربي ؟</h2>
        
    </div>
</div>