<div class="mx-auto slegon col-lg-6 col-md-10  ">
    <h1 class="text-center font-weight-bold text-melted fz-32 pt-2">لتجربة تعلم وتعليم أفضل</h1>
</div>
<div class="row m-0 d-flex align-items-center ">
    <div class="col-md-6 p-0 bg-login">
      
    </div>
    <div class="col-lg-6 col-md-11 mx-auto px-2 ">
        <div class="card-login mx-auto col-md-8 col-11">
            <div class="text-center">
            <img src="../../assets/images/logo.png" width="80px"alt="">
        </div>
            <h3 class="text-center fz-25 font-weight-700 my-3 text-melted">! مرحبا بكم في منصة تعلم</h3>
        <div class="row mx-0 mt-1">
            <div class="col-md-10 col-11 mx-auto px-1">
                <div class="form-group ">
                    <label for="" class="float-right"><span class="text-danger"> *</span> البريد الإلكتروني</label>
                    <input type="text" class="form-control input-login">
                </div>
            </div>
        </div>

        <div class="row mx-0 mt-1">
            <div class="col-md-10 col-11 mx-auto px-1">
                <div class="form-group ">
                    <label for="" class="float-right"><span class="text-danger"> *</span>كلمة السر  </label>
                    <input type="text" class="form-control input-login">
                </div>
            </div>
        </div>
        <div class="row mx-0 mt-3">
            <div class="col-md-10 col-11 mx-auto px-1">
                <button class="btn  w-100 py-2 btn-login" routerLink="/home/dashboard">تسجيل دخول</button>
            </div>
        </div>
    </div>
    </div>
</div>