<div class="mx-auto slegon col-lg-6 col-md-10 py-3">
    <h3 class="text-center font-weight-700 ">Pour une meilleure expérience d'apprentissage et d'enseignement</h3>
</div>
<div class="row m-0 d-flex align-items-center ">
    <div class="col-md-6 p-0 bg-login">
        <div class=""></div>
    </div>
    <div class="col-lg-6 col-md-11 mx-auto v px-2 ">
        
        <div class="card-login mx-auto col-md-8 col-11">
            <h3 class="text-center  font-weight-700 mb-5">Bienveue !</h3>
        <div class="row mx-0 mt-1">
            <div class="col-md-10 col-11 mx-auto px-1">
                <div class="form-group ">
                    <label for="">Email<span class="text-danger"> *</span></label>
                    <input type="text" class="form-control input-login">
                </div>
            </div>
        </div>

        <div class="row mx-0 mt-1">
            <div class="col-md-10 col-11 mx-auto px-1">
                <div class="form-group ">
                    <label for="">Mot de passe<span class="text-danger"> *</span></label>
                    <input type="text" class="form-control input-login">
                </div>
            </div>
        </div>
        <div class="row mx-0 mt-2">
            <div class="col-md-10 col-11 mx-auto px-1">
                <button class="btn  w-100 py-2 btn-login" routerLink="/home">Connexion</button>
            </div>
        </div>
    </div>
    </div>
</div>