
<mat-drawer-container class="dash-container d-flex align-items-start h-100vh" autosize>
    <mat-drawer #drawer class="dash-sidenav bg-light" position="end" mode="side" opened="true">
        <app-dashboard></app-dashboard>

    </mat-drawer>

    <div class="dash-sidenav-content">
      
        <app-navbar></app-navbar>
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>

