
 
  <nav class="navbar justify-content-between align-items-center navbar-pr navbar-expand-lg navbar-light py-0 ">
    <div class="d-flex justify-between align-items-center  ">
        <div class="px-2 avatar-user cursor-pointer">
            <img src="../../assets/images/men.jpg" alt="user"   class="img-user rounded-ircle" (click)="isDropdown()">
            <div class="user-dropdown shadow"*ngIf="dropdown">
                <div class="user-header d-flex align-items-center  p-2">
                    <img src="../../assets/images/men.jpg" alt="user"   class="img-user rounded-ircle mr-3">
                    <h6 class="m-0">Johndoe@gmail.com</h6>
                </div>
                <ul class="user-content bg-white p-0 mb-0">
                    <li class="d-flex align-items-center cursor-pointer p-2">
                        <span class="material-icons text-primary py-2 mr-3">person</span>
                        <span>حسابك الشخصي</span>
                    </li>
                    <li class="d-flex align-items-center cursor-pointer p-2">
                        <span class="material-icons py-2 text-warning mr-3">logout</span>
                        <span>خروج</span>
                    </li>
    
                </ul>
            </div>
        </div>
        <div class="px-2 cursor-pointer avatar-user">
            <span class="material-icons text-white" (click)="isNotified()">notifications</span>
            <div class="user-dropdown shadow"*ngIf="notif">
                <div class="user-header d-flex align-items-center  p-2" >
                     
                    <h6 class="m-0 p-1">Liste  des notificaations</h6>
                </div>
                <ul class="user-content bg-white p-0 mb-0">
                    <li class="d-flex align-items-center cursor-pointer p-2">
                        <span> notifications 1</span>
                       
                    </li>
                    <li class="d-flex align-items-center cursor-pointer p-2">
                        
                        <span> notifications 1</span>
                    </li>
    
                </ul>
            </div>
        </div>
        </div>
        <button mat-icon-button class="btn btn-toggle-sm"   (click)="isNavhide()" >
            <span class="material-icons">menu</span>
          </button>
        <div class="  d-flex align-items-center justify-content-end"   >
            <ul class="m-0 nav-resp   " *ngIf="navHide" >
              <li class="nav-item">
                  <a class="nav-link text-secondary" href="#">دعم و تقييم</a>
                </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#">الدروس</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#">  جدول الأوقات</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link text-secondary" href="#">الصفحة الرئيسية <span class="sr-only">(current)</span></a>
                </li>
               
            </ul>
             
                <ul class="navbar-nav mr-3   d-flex align-items-center justify-content-end"   >
                  <li class="nav-item">
                      <a class="nav-link" href="#">دعم و تقييم</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">الدروس</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">  جدول الأوقات</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="#">الصفحة الرئيسية <span class="sr-only">(current)</span></a>
                    </li>
                   
                </ul>
             
            
           
         
          <a class="navbar-brand mr-0" href="#"> <img src="../../assets/images/logo.png" width="50px" alt="" class=""></a>
    
        </div>
  </nav>

<div class="float-right p-4  col-md-12 p-0" style="
direction: rtl;
">
    <div class="d-flex mb-2">
    <span></span> 
    <span class="fz-19 text-underline font-weight-bold" st> إحصائيات</span>
   </div> 
    <div class=" p-0">
        <div class="border rounded w-100 flex-column p-3  ">
            <div class="row mx-0">
                <div class="col-lg-3 col-md-6 col-12 px-1">
                    <div class="card ">
                        <div class="card bg-c-blue mb-0 order-card">
                            <div class="card-block ">
                                <h6 class="m-b-20">Orders Received</h6>
                                <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 px-1">
                    <div class="card">
                        <div class="card-block">
                            <h6 class="m-b-20">Orders Received</h6>
                            <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                            <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 px-1">
                    <div class="card">
                        <div class="card-block">
                            <h6 class="m-b-20">Orders Received</h6>
                            <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                            <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                        </div>
                    </div>
                </div>
                 
            </div>
       </div>
    </div> 
</div>
